<!-- Portfolio\Education_Villa\edu_core\templates\edu_core\activity\views\question_type_selection.html -->

{% extends "edu_core/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'edu_core/css/question_type_selection.css' %}" type="text/css">

<div class="question-type-selection-container">
    <h2>Select Question Type</h2>
    <ul class="question-type-list">
        {% if activity %}
            <!-- If adding to an activity -->
            <li><a href="{% url 'add_mcq' activity.id %}?insert_after={{ request.GET.insert_after }}" class="btn question-type-btn">Multiple Choice Question</a></li>
            <li><a href="{% url 'add_content_block' activity.id %}?insert_after={{ request.GET.insert_after }}" class="btn question-type-btn">Content Block</a></li>
            <li><a href="{% url 'select_from_bank' activity.id %}?insert_after={{ request.GET.insert_after }}" class="btn question-type-btn">Add from Question Bank</a></li>
        {% elif course %}
            <!-- If adding to the question bank -->
            <li><a href="{% url 'add_mcq_to_bank' course.id %}" class="btn question-type-btn">Multiple Choice Question</a></li>
            <li><a href="{% url 'add_content_block_to_bank' course.id %}" class="btn question-type-btn">Content Block</a></li>
        {% endif %}
    </ul>
</div>

{% endblock %}
