<!-- Portfolio\Education_Villa\edu_core\templates\edu_core\activity_forms\mcq_creator.html -->

{% extends "edu_core/base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'edu_core/css/mcq_creator.css' %}" type="text/css">

<div class="container mt-5">
    <h2>Add a New Multiple Choice Question</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- This should render the randomize_options checkbox -->
        <button type="submit" class="btn btn-primary">Add MCQ</button>
    </form>    
</div>
{% endblock %}
