/* Portfolio\Education_Villa\edu_core\static\edu_core\css\diploma_create.css*/

:root {
    --primary-color: #003366; /* Navy Blue */
    --secondary-color-1: #ffffff; /* White */
    --secondary-color-2: #3fada8; /* Teal */
    --accent-color-1: #2a9df4; /* Bright Blue */
    --accent-color-2: #ffd700; /* Golden Yellow */
    --neutral-color: #dddddd; /* Light Gray */
    --background-color: #ffffff; /* Off-White */
    --text-color: #333333; /* Dark Gray */
}

body, html {
    background: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: var(--secondary-color-1);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form p {
    color: var(--text-color);
}

form label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

form input, form textarea, form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid var(--neutral-color);
    box-sizing: border-box; /* Ensures padding doesn't increase the input width */
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--accent-color-1);
    color: var(--background-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

form button:hover {
    background-color: var(--accent-color-2);
}
