<!-- Portfolio\Education_Villa\edu_core\templates\edu_core\activity_views\activity_view.html -->

{% extends "edu_core/base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'edu_core/css/activity_view.css' %}" type="text/css">

<!-- Assuming 'activity' is the context variable for the current activity -->
<div class="activity-details">
    <!-- Activity details here -->
    <a href="">Add Question</a>
    <!-- Additional links for other types of questions -->
</div>

{% endblock %}