<!-- Portfolio\Education_Villa\edu_core\templates\edu_core\activity_views\question_type_selection.html -->

{% extends "edu_core/base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'edu_core/css/question_type_selection.css' %}" type="text/css">

<div class="question-type-selection">
    <h2>Select Question Type</h2>
    <ul>
        {% if activity %}
            <!-- If adding to an activity -->
            <li><a href="{% url 'add_mcq' activity.id %}">Multiple Choice Question</a></li>
            <!-- Add option to select questions from the bank -->
            <li><a href="{% url 'select_from_bank' activity.id %}">Add from Question Bank</a></li>
        {% elif course %}
            <!-- If adding to the question bank -->
            <li><a href="{% url 'add_mcq_to_bank' course.id %}">Multiple Choice Question</a></li>
        {% endif %}
    </ul>
</div>

{% endblock %}
