<!-- Education_Villa\edu_core\templates\edu_core\base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Education Villa</title>
    {% load static %}
    <link rel="icon" href="{% static 'edu_core/images/Education Villa logo 1.jpg' %}" type="image/jpg">
    <link rel="stylesheet" href="{% static 'edu_core/css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="navbar">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'diploma_search' %}">Search Diploma</a>
            {% if user.is_authenticated %}
                {% if user.user_type == 'professor' or user.user_type == 'moderator' or user.is_superuser %}
                    <a href="{% url 'create_diploma' %}">Create Diploma</a>
                {% endif %}
                <div class="profile-section">
                    <span class="username">{{ user.get_full_name|default:user.username }}</span>
                    <div class="dropdown">
                        <button class="dropbtn">Profile</button>
                        <div class="dropdown-content">
                            <a href="{% url 'profile' %}">View Profile</a>
                            {% if user.user_type == 'professor' or user.user_type == 'moderator' or user.is_superuser %}
                                <a href="{% url 'create_course' %}">Create Course</a>
                            {% endif %}
                            <form action="{% url 'logout' %}" method="post" style="margin: 0;">
                                {% csrf_token %}
                                <button type="submit" class="logout-button">Logout</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% else %}
                <span class="login-prompt">Log in -></span>
                <a href="{% url 'signup' %}">Signup</a>
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
