<!-- Portfolio\Education_Villa\edu_core\templates\edu_core\course.html -->

{% extends "edu_core/base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'edu_core/css/course.css' %}" type="text/css">

<div class="course-container">
    <div class="course-info">
        <h1>{{ course.name }}</h1>
        <p class="author">Author: {{ course.author.get_full_name }}</p>
        <p class="course-description">Description: {{ course.description }}</p>
    </div>
    {% if course.image %}
    <div class="course-image-and-controls">
        <img src="{{ course.image.url }}" alt="Course Image" class="course-image">
        <p class="created-date">Created on: {{ course.creation_date }}</p>
        {% if request.user == course.author or request.user.is_superuser %}
        <div class="controls">
            <a href="{% url 'edit_course' course.id %}" class="edit-course">Edit Course</a>
            <form action="{% url 'delete_course' course.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="delete-course">Delete Course</button>
            </form>
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>

<!-- Lessons -->

<div class="lessons-container">
    <h2>Lessons</h2>
    {% for lesson in course.lessons.all %}
        <div class="lesson">
            <h3><a href="{% url 'lesson_view' lesson.id %}">{{ lesson.name }}</a></h3>
            <p>{{ lesson.content | safe }}</p>
        </div>
    {% endfor %}

    {% if request.user == course.author or request.user.is_superuser %}
        <div class="add-lesson-container">
            <a href="{% url 'lesson_add' course.id %}" class="add-lesson-button">Add Lesson</a>
        </div>
        <div class="question-bank-container">
            <a href="{% url 'question_bank' course.id %}" class="question-bank-button">Access Question Bank</a>
        </div>
    {% endif %}
</div>

{% endblock %}
